{% extends 'base.html' %}

{% block title %}News Articles{% endblock %}

{% block content %}
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">News Articles List</h2>
                    <p>These articles were especially picked for you based on your tastes.</p>
                </div>
                <div class="block-content">
                    {% for article in articles %}
                        <div class="clean-blog-post">
                            <div class="row">
                                {% if article.image_url %}
                                    <div class="col-lg-5"><img class="rounded img-fluid" src="{{ article.image_url }}"></div>
                                {% endif %}
                                <div class="col-lg-7">
                                    <h3>{{ article.title }}</h3>
                                    <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                                    <p>{{ article.description }}</p>
                                    <a href="{{ article.url }}" class="btn btn-outline-primary btn-sm" target="_blank">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
