{% extends 'base.html' %}

{% block title %}News Articles{% endblock %}

{% block content %}
<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">News Articles List</h2>
                <p>These articles were especially picked for you based on your tastes.</p>
                <p>Or you can search for something else below.</p>
            </div>

            {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="search-bar mb-4">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <select class="form-control me-2" name="sentiment">
                        <option value="">All Sentiments</option>
                        <option value="positive">Positive</option>
                        <option value="neutral">Neutral</option>
                        <option value="negative">Negative</option>
                    </select>
                    <button class="btn btn-outline-primary me-2" type="submit">Search</button>
                    <a href="{% url 'index:index' %}" class="btn btn-outline-secondary">Recommendations</a>
                </form>
            </div>

            <div class="block-content">
                {% if articles %}
                    {% for article in articles %}
                    <div class="card mb-4">
                        <div class="row g-0">
                            {% if article.image_url %}
                            <div class="col-lg-5 d-flex align-items-center justify-content-center">
                                <img class="card-img-top" src="{{ article.image_url }}" alt="Article Image">
                            </div>
                            {% endif %}
                            <div class="col-lg-7">
                                <div class="card-body">
                                    <h3 class="card-title">{{ article.title }}</h3>
                                    <div class="info"><span class="text-muted">{{ article.published_date }} on&nbsp;<a
                                                href="{{ article.source_url }}" target="_blank">{{ article.source_name }}</a></span></div>
                                    <p class="card-text">{{ article.description }}</p>
                                    <div class="article-sentiment">
                                        <span class="badge bg-secondary">Sentiment:</span>
                                        {% if article.sentiment == 'Positive' %}
                                        <span class="badge bg-success">Positive</span>
                                        {% elif article.sentiment == 'Negative' %}
                                        <span class="badge bg-danger">Negative</span>
                                        {% else %}
                                        <span class="badge bg-secondary">Neutral</span>
                                        {% endif %}
                                    </div>
                                    <div class="mt-2">
                                        <a href="{{ article.url }}" class="btn btn-outline-primary btn-sm"
                                            onclick="recordAction('{{ article.id }}', 'read')">Read Article</a>
                                        <a href="{% url 'index:article_details' article.id %}"
                                            class="btn btn-outline-primary btn-sm" onclick="recordAction('{{ article.id }}', 'open')">What are people saying?</a>
                                    </div>
                                    <div class="buttons mt-2">
                                        <button class="btn btn-outline-primary btn-sm like-button"
                                            onclick="recordAction('{{ article.id }}', 'like')">Like</button>
                                        <button class="btn btn-outline-danger btn-sm dislike-button"
                                            onclick="recordAction('{{ article.id }}', 'dislike')">Dislike</button>
                                    </div>
                                    <div class="save mt-2">
                                        {% if article.saved_by_current_user %}
                                        <a href="{% url 'index:unsave-article' article.id %}"
                                            class="btn btn-outline-danger btn-sm save-button">Unsave</a>
                                        {% else %}
                                        <a href="{% url 'index:save-article' article.id %}"
                                            class="btn btn-outline-success btn-sm save-button">Save</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                        No articles available. Please select your preferences to get personalised recommendations.
                    </div>
                    <a href="{% url 'recommendations:select_topics' %}" class="btn btn-primary">Select Preferences</a>
                {% endif %}
            </div>
        </div>
    </section>
</main>

<script>
    function getCookie(name) {
        // Function to retrieve the value of a cookie by its name
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function recordAction(articleId, action) {
        console.log("JS ARTICLE ID:", articleId);
        console.log("JS ACTION:", action);

        const url = "{% url 'recommendations:record-action' %}";  // Endpoint to record the action
        const data = {
            article_id: articleId,
            action: action
        };
        const csrftoken = getCookie('csrftoken'); // Get the CSRF token from the cookie

        console.log("CSRF Token:", csrftoken);

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken // Include the CSRF token in the request headers
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                // Handle response if needed
            })
            .catch(error => {
                // Handle error if needed
                console.error('Error recording action:', error);
            });
    }
</script>
{% endblock %}
