{% extends 'base.html' %}

{% block title %}Saved Articles{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-5">
            <h2 class="mb-4">Saved Articles</h2>
            <p>These articles which you saved.</p>
            {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% if articles %}
                <div class="list-group">
                    {% for article in articles %}
                        <div class="card mb-4">
                            <div class="row g-0">
                                {% if article.image_url %}
                                <div class="col-lg-5 d-flex align-items-center justify-content-center">
                                    <img class="card-img-top" src="{{ article.image_url }}" alt="Article Image">
                                </div>
                                {% endif %}
                                <div class="col-lg-7">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ article.title }}</h3>
                                        <div class="info"><span class="text-muted">{{ article.published_date }} on&nbsp;<a href="{{ article.source_url }}" target="_blank">{{ article.source_name }}</a></span></div>
                                        <p class="card-text">{{ article.description }}</p>
                                        <div class="article-sentiment">
                                            <span class="badge bg-secondary">Sentiment:</span>
                                            {% if article.sentiment == 'Positive' %}
                                                <span class="badge bg-success">Positive</span>
                                            {% elif article.sentiment == 'Negative' %}
                                                <span class="badge bg-danger">Negative</span>
                                            {% else %}
                                                <span class="badge bg-secondary">Neutral</span>
                                            {% endif %}
                                        </div>
                                        <div class="mt-2">
                                            <a href="{{ article.url }}" class="btn btn-outline-primary btn-sm" target="_blank">Read Article</a>
                                            <a href="{% url 'index:article_details' article.id %}" class="btn btn-outline-primary btn-sm">What are people saying?</a>
                                        </div>
                                        <div class="buttons mt-2">
                                            <button class="btn btn-outline-primary btn-sm like-button">Like</button>
                                            <button class="btn btn-outline-danger btn-sm dislike-button">Dislike</button>
                                        </div>
                                        <div class="save mt-2">
                                                <a href="{% url 'index:unsave-article' article.id %}" class="btn btn-outline-danger btn-sm save-button">Unsave</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No saved articles found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
